/corpus_cas_cliniques-finetuning/
/generations_scores_repetitions.zip
/new_gens.zip
/annotated_data/old_gens/
/generations_scores_repetitions/
/generated_data/old_gens/
/generated_data/raw_json/data_biais/
/preliminary_tests/
res_llama3.zip
res_llama3/
res_vigogne-2.zip
/annotated_data/generations_full-corpus.csv
