/corpus_cas_cliniques-finetuning/
/generations_scores_repetitions.zip
/new_gens.zip
/annotated_data/old_gens/
/generations_scores_repetitions/
/generated_data/old_gens/
/generated_data/raw_json/data_biais/
/preliminary_tests/
res_llama3.zip
res_llama3/
res_vigogne-2.zip
/annotated_data/generations_full-corpus.csv
/annotated_data/corpus_manuel.csv
/delimitations_cas/
/src/bias_exploration/viz_gendered_fr_stereoFem.ipynb
/src/bias_exploration/viz_gendered_fr_stereoMasc.ipynb
/src/bias_exploration/viz_gendered_fr_stereoNeutre.ipynb
/bias_results/txm/
/new_generations_compensate/
/real_data_hospital/
/all_generations.zip
/filtered_generations.zip
/new_generations_compensate.zip
/bias_results/proportions_results_xtimesmore.txt
/annotated_data/corpus_manuel_ner_.csv
/annotated_data/creation_corpus_manuel_ner.py
/annotated_data/generations_BioMistral-7b-SLERP_gender_trf.csv
/annotated_data/generations_bloom-1b1_gender_trf.csv
/annotated_data/generations_bloom-7b1_gender_trf.csv
/annotated_data/generations_Llama-3-1-8B-bf_gender_trf.csv
/annotated_data/generations_Llama-3-1-8B-Instruct-bf_gender_trf.csv
/annotated_data/generations_vigogne-2-7b_gender_trf.csv
/annotated_data/generations_vigogne-2-13b_gender_trf.csv
/bias_results/figures_cascliniques-biais.zip
/bias_results/respected_stereotypes.pdf
/generated_data/
/bias_results/fig/auto_gender_per_topic_10.png
/bias_results/fig/gender_distributions_sexprompts.png
/bias_results/fig/gender_distributions_sexprompts.svg
/bias_results/fig/gender_distributions_sexprompts_newcorpus.pdf
/bias_results/fig/generated_vs_real.pdf
/bias_results/fig/radar_gg_model+neutralprompts.pdf
/bias_results/fig/radar_gg_model+neutralprompts.svg
/bias_results/fig/radar_gg_model.pdf
/bias_results/fig/radar_gg_model.svg
/bias_results/fig/radar_gg_model_full+neutral.pdf
/bias_results/fig/radar_gg_model_gendered+neutral.pdf
/bias_results/fig/radar_gg_pathology+neutral.pdf
/bias_results/fig/radar_gg_pathology+neutral.svg
/bias_results/fig/radar_gg_pathology+real+neutral.svg
/bias_results/fig/radar_gg_pathology+real.svg
/bias_results/fig/radar_gg_pathology.pdf
/bias_results/fig/radar_gg_pathology.svg
/bias_results/fig/radar_gg_pathology_full+neutral.pdf
/bias_results/fig/radar_gg_pathology_gendered+neutral.pdf
/annotated_data/filtered_generations/full_corpus.csv
/annotated_data/filtered_generations/.~lock.full_corpus.csv#
